{% extends 'base.html.twig' %}

{% block title %}Hello CvController!{% endblock %}

{% block body %}

    <div class="CV-container">
        <div>
            <img src={{ "/media/CV_html_d7078cba5475e73f.gif"  }} align="left"/>
        </div>
        <div>
            <img src={{ "/media/CV_html_8274429aaa43c07f.gif" }} align="left"/>
        </div>
        <div>
            <img src={{ "/media/CV_html_d08a2651b4a6c10c.gif" }} align="left"/>
            <img src={{ "/media/CV_html_55612ee61040118b.gif"  }} align="left"/>
        </div>
        <div>
            <img src= {{ "/media/CV_html_f8ebd1336481f2d2.gif" }} align="left"/>

        </div>
    </div>


{% endblock %}
